html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  line-height: 1.6;
  overflow-x: hidden;
  height: 100%;
  font-size: 14px;
}

* {
  box-sizing: border-box;
}

a {
  font-size: 14px;
  color: #222222;
  font-weight: 500;
  text-decoration: none;
  transition: all 0.11s;
  align-items: center;
  padding: 1px 7px 2px 7px;
  border-radius: 4px;
}

a:hover {
  color: white;
  background-color: #0070f3;
}

img {
  max-width: 100%;
  display: block;
}

blockquote {
  margin: 1rem 0;
  border-left: 0.2rem solid #dfe2e5;
  padding: 0.25rem 0 0.25rem 1rem;
  font-size: 1rem;
  color: #999;
}

blockquote > p {
  margin: 0;
}

.sample-echart {
  width: 100%;
  height: 460px;
}

.homepage {
  height: calc(100vh - 162px);
  display: flex;
  ul {
    list-style: none;
    width: 378px;
    padding: 0;
    overflow-y: auto;
    li {
      //display: inline-block;
      //min-width: 33%;
    }
  }
  .content {
    flex: 1;
    width: 1180px;
  }
}

//.reload-button {
//  background-color: #0070f3;
//  color: #fff;
//  display: block;
//  height: 3em;
//  line-height: 3em;
//  margin: 0 0.5em;
//  text-align: center;
//  font-size: 14px;
//  border-radius: 4px;
//  margin-top: 14px;
//}

input {
  outline: none;
  border: 1px solid #eaeaea;
  border-radius: 4px;
  width: 450px;
  height: 40px;
  transition: all 0.5s;
  &:focus {
    border-color: #666666;
  }
}
